<%# Currently no link to this page exists as photos are only useful when shown with apartment details. Did not delete the view in case of future modifications. %>
<div>
  <div>
    <h1>
      List of all photos
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new photo
    </h2>

    <form action="/insert_photo" method="post">
      <div>
        <label for="caption_box">
          Caption
        </label>

        <input type="text" id="caption_box" name="query_caption">
      </div>

      <div>
        <label for="photo_url_box">
          Photo url
        </label>

        <input type="text" id="photo_url_box" name="query_photo_url">
      </div>

      <div>
        <label for="apartment_id_box">
          Apartment
        </label>

        <input type="text" id="apartment_id_box" name="query_apartment_id">
      </div>

      <button>
        Create photo
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Caption
        </th>

        <th>
          Photo url
        </th>

        <th>
          Apartment
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_photos.each do |a_photo| %>
      <tr>
        <td>
          <%= a_photo.id %>
        </td>

        <td>
          <%= a_photo.caption %>
        </td>

        <td>
          <img src="<%= a_photo.photo_url %>" width="450">
        </td>

        <td>
          <%= a_photo.apartment_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_photo.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_photo.updated_at) %> ago
        </td>

        <td>
          <a href="/photos/<%= a_photo.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
