    <div>
      <div>
        <a href="/cities">
          Go back
        </a>
      </div>

<div>
  <div>
    <h1>
      Apartments in <%= @the_city.city_name + ", " + @the_city.city_state %> 
    </h1>
    <h3>
      Click "Show Details" for pictures
    </h3>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          City 
        </th>

        <th>
          Address
        </th>

        <th>
          From date
        </th>

        <th>
          To date
        </th>

        <th>
          Price
        </th>

        <th>
          Utilities included
        </th>

        <th>
          Bedrooms
        </th>

        <th>
          Bathrooms
        </th>

        <th>
          Pet friendly
        </th>

        <th>
          Description
        </th>

        <th>
          Owner
        </th>

        <th>
          Owner name
        </th>

        <th>
          Owner email
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_apartments.each do |an_apartment| %>
      <% if an_apartment.city_name == @the_city.city_name%>
      <tr>
        <td>
          <%= an_apartment.id %>
        </td>

        <td>
          <%= an_apartment.city_name %>
        </td>

        <td>
          <%= an_apartment.address %>
        </td>

        <td>
          <%= an_apartment.from_date %>
        </td>

        <td>
          <%= an_apartment.to_date %>
        </td>

        <td>
          <%= an_apartment.price %>
        </td>

        <td>
          <%if an_apartment.utilities_included == true %>
            yes
          <% else %>
            no
          <%end%> 

        </td>

        <td>
          <%= an_apartment.bedrooms %>
        </td>

        <td>
          <%= an_apartment.bathrooms %>
        </td>

        <td>
          <%if an_apartment.pet_friendly == true %>
            yes
          <% else %>
            no
          <%end%> 
        </td>

        <td>
          <%= an_apartment.description %>
        </td>

        <td>
          <%= an_apartment.owner_id %>
        </td>

        <td>
          <%= an_apartment.owner_name %>
        </td>

        <td>
          <%= an_apartment.owner_email %>
        </td>

        <td>
          <%= time_ago_in_words(an_apartment.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(an_apartment.updated_at) %> ago
        </td>

        <td>
          <a href="/apartments/<%= an_apartment.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% else %>
      <% end %>
      <% end %>
    </table>
  </div>
</div>

<hr>
