<div>
  <div>
    <h1>
      List of all apartments
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new apartment
    </h2>

    <form action="/insert_apartment" method="post">
      <div>
        <label for="city_id_box">
          City
        </label>

        <input type="text" id="city_id_box" name="query_city_id">
      </div>

      <div>
        <label for="city_name_box">
          City name
        </label>

        <input type="text" id="city_name_box" name="query_city_name">
      </div>

      <div>
        <label for="address_box">
          Address
        </label>

        <input type="text" id="address_box" name="query_address">
      </div>

      <div>
        <label for="from_date_box">
          From date
        </label>

        <input type="date" id="from_date_box" name="query_from_date">
      </div>

      <div>
        <label for="to_date_box">
          To date
        </label>

        <input type="date" id="to_date_box" name="query_to_date">
      </div>

      <div>
        <label for="price_box">
          Price
        </label>

        <input type="text" id="price_box" name="query_price">
      </div>

      <div>
        <input type="checkbox" id="utilities_included_box" name="query_utilities_included" value="1">

        <label for="utilities_included_box">Utilities included</label>
      </div>

      <div>
        <label for="bedrooms_box">
          Bedrooms
        </label>

        <input type="text" id="bedrooms_box" name="query_bedrooms">
      </div>

      <div>
        <label for="bathrooms_box">
          Bathrooms
        </label>

        <input type="text" id="bathrooms_box" name="query_bathrooms">
      </div>

      <div>
        <input type="checkbox" id="pet_friendly_box" name="query_pet_friendly" value="1">

        <label for="pet_friendly_box">Pet friendly</label>
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <textarea id="description_box" name="query_description" rows="3"></textarea>
      </div>

      <div>
        <label for="owner_id_box">
          Owner
        </label>

        <input type="text" id="owner_id_box" name="query_owner_id">
      </div>

      <div>
        <label for="owner_name_box">
          Owner name
        </label>

        <input type="text" id="owner_name_box" name="query_owner_name">
      </div>

      <div>
        <label for="owner_email_box">
          Owner email
        </label>

        <input type="text" id="owner_email_box" name="query_owner_email">
      </div>

      <button>
        Create apartment
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          City 
        </th>

        <th>
          Address
        </th>

        <th>
          From date
        </th>

        <th>
          To date
        </th>

        <th>
          Price
        </th>

        <th>
          Utilities included
        </th>

        <th>
          Bedrooms
        </th>

        <th>
          Bathrooms
        </th>

        <th>
          Pet friendly
        </th>

        <th>
          Description
        </th>

        <th>
          Owner
        </th>

        <th>
          Owner name
        </th>

        <th>
          Owner email
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_apartments.each do |an_apartment| %>
      <tr>
        <td>
          <%= an_apartment.id %>
        </td>

        <td>
          <%= an_apartment.city_name %>
        </td>

        <td>
          <%= an_apartment.address %>
        </td>

        <td>
          <%= an_apartment.from_date %>
        </td>

        <td>
          <%= an_apartment.to_date %>
        </td>

        <td>
          <%= an_apartment.price %>
        </td>

        <td>
          <%if an_apartment.utilities_included == true %>
            yes
          <% else %>
            no
          <%end%> 

        </td>

        <td>
          <%= an_apartment.bedrooms %>
        </td>

        <td>
          <%= an_apartment.bathrooms %>
        </td>

        <td>
          <%if an_apartment.pet_friendly == true %>
            yes
          <% else %>
            no
          <%end%> 
        </td>

        <td>
          <%= an_apartment.description %>
        </td>

        <td>
          <%= an_apartment.owner_id %>
        </td>

        <td>
          <%= an_apartment.owner_name %>
        </td>

        <td>
          <%= an_apartment.owner_email %>
        </td>

        <td>
          <%= time_ago_in_words(an_apartment.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(an_apartment.updated_at) %> ago
        </td>

        <td>
          <a href="/apartments/<%= an_apartment.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
