<div>
  <a href="/cities/<%= @the_apartment.city_id %>">
    Go back
  </a>
</div>

  <div>
    <h1>
      Apartment #<%= @the_apartment.id %> details
    </h1>


  <%#= Bookmark %>  


<% if session.fetch(:user_id) == nil %>
<% else %>
<% current_user_bookmarks = Bookmark.where({:apartment_id => @the_apartment.id, :user_id => session.fetch(:user_id) }) %> 
<% the_bookmark = current_user_bookmarks.at(0)%> 

  <% if the_bookmark == nil %>
    <form action="/insert_bookmark" method="post">
      <input type="hidden" id="apartment_id_box" name="query_apartment_id" value="<%= @the_apartment.id %>">
      <button> Bookmark this apartment! </button>
    </form>
  <%else%>
      <a href="/delete_bookmark/<%= the_bookmark.id %>"> Unbookmark </a>
  <%end%>
<% end %>



    <div>

      <%if session.fetch(:user_id) == @the_apartment.owner_id %>
        <a href="/delete_apartment/<%= @the_apartment.id %>"> Delete apartment </a>
      <%else%>
      <%end%>

    <dl>
      <dt>
        City
      </dt>
      <dd>
        <%= @the_apartment.city_id %>
      </dd>

      <dt>
        City name
      </dt>
      <dd>
        <%= @the_apartment.city_name %>
      </dd>

      <dt>
        Address
      </dt>
      <dd>
        <%= @the_apartment.address %>
      </dd>

      <dt>
        From date
      </dt>
      <dd>
        <%= @the_apartment.from_date %>
      </dd>

      <dt>
        To date
      </dt>
      <dd>
        <%= @the_apartment.to_date %>
      </dd>

      <dt>
        Price
      </dt>
      <dd>
        <%= @the_apartment.price %>
      </dd>

      <dt>
        Utilities included
      </dt>
      <dd>
        <%= @the_apartment.utilities_included %>
      </dd>

      <dt>
        Bedrooms
      </dt>
      <dd>
        <%= @the_apartment.bedrooms %>
      </dd>

      <dt>
        Bathrooms
      </dt>
      <dd>
        <%= @the_apartment.bathrooms %>
      </dd>

      <dt>
        Pet friendly
      </dt>
      <dd>
        <%= @the_apartment.pet_friendly %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @the_apartment.description %>
      </dd>

      <dt>
        Owner
      </dt>
      <dd>
        <%= @the_apartment.owner_id %>
      </dd>

      <dt>
        Owner name
      </dt>
      <dd>
        <%= @the_apartment.owner_name %>
      </dd>

      <dt>
        Owner email
      </dt>
      <dd>
        <%= @the_apartment.owner_email %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_apartment.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_apartment.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <%if session.fetch(:user_id) == @the_apartment.owner_id %>

      <h2>
       Edit apartment
      </h2>

      <form action="/modify_apartment/<%= @the_apartment.id %>"  method="post" >
        <div>
          <label for="city_id_box">
            City
          </label>

          <input type="text" id="city_id_box" name="query_city_id" value="<%= @the_apartment.city_id %>">
        </div>

        <div>
          <label for="city_name_box">
            City name
          </label>

          <input type="text" id="city_name_box" name="query_city_name" value="<%= @the_apartment.city_name %>">
        </div>

        <div>
          <label for="address_box">
            Address
          </label>

          <input type="text" id="address_box" name="query_address" value="<%= @the_apartment.address %>">
        </div>

        <div>
          <label for="from_date_box">
            From date
          </label>

          <input type="date" id="from_date_box" name="query_from_date" value="<%= @the_apartment.from_date %>">
        </div>

        <div>
          <label for="to_date_box">
            To date
          </label>

          <input type="date" id="to_date_box" name="query_to_date" value="<%= @the_apartment.to_date %>">
        </div>

        <div>
          <label for="price_box">
            Price
          </label>

          <input type="text" id="price_box" name="query_price" value="<%= @the_apartment.price %>">
        </div>

        <div>
          <input type="checkbox" id="utilities_included_box" name="query_utilities_included" value="1" <%= "checked" if @the_apartment.utilities_included %>>

          <label for="utilities_included_box">
              Utilities included
          </label>
        </div>

        <div>
          <label for="bedrooms_box">
            Bedrooms
          </label>

          <input type="text" id="bedrooms_box" name="query_bedrooms" value="<%= @the_apartment.bedrooms %>">
        </div>

        <div>
          <label for="bathrooms_box">
            Bathrooms
          </label>

          <input type="text" id="bathrooms_box" name="query_bathrooms" value="<%= @the_apartment.bathrooms %>">
        </div>

        <div>
          <input type="checkbox" id="pet_friendly_box" name="query_pet_friendly" value="1" <%= "checked" if @the_apartment.pet_friendly %>>

          <label for="pet_friendly_box">
            Pet friendly
          </label>
        </div>

        <div>
          <label for="description_box">
            Description
          </label>

          <textarea id="description_box" name="query_description"><%= @the_apartment.description %></textarea>
        </div>

        <div>
          <label for="owner_id_box">
            Owner
          </label>

          <input type="text" id="owner_id_box" name="query_owner_id" value="<%= @the_apartment.owner_id %>">
        </div>

        <div>
          <label for="owner_name_box">
            Owner name
          </label>

          <input type="text" id="owner_name_box" name="query_owner_name" value="<%= @the_apartment.owner_name %>">
        </div>

        <div>
          <label for="owner_email_box">
            Owner email
          </label>

          <input type="text" id="owner_email_box" name="query_owner_email" value="<%= @the_apartment.owner_email %>">
        </div>

        <button>
          Update apartment
        </button>
      </form>

  </div>
</div>




<hr>
<div>
  <div>
    <h2>
      Add a new photo
    </h2>

    <form action="/insert_photo" method="post">
      <div>
        <label for="caption_box">
          Caption
        </label>

        <input type="text" id="caption_box" name="query_caption">
      </div>

      <div>
        <label for="photo_url_box">
          Photo url
        </label>

        <input type="text" id="photo_url_box" name="query_photo_url">
      </div>

      <div>
        <label for="apartment_id_box">
          Apartment
        </label>

        <input type="text" id="apartment_id_box" name="query_apartment_id" value="<%= @the_apartment.id %>">
      </div>

      <button>
        Create photo
      </button>
    </form>
    <%else%>
    <%end%>
  </div>
</div>


<hr>

   <h2>
    Apartment photos
  </h2>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Caption
        </th>

        <th>
          Photo 
        </th>

        <th>
          Apartment
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_photos.each do |a_photo| %>
        <% if a_photo.apartment_id == @the_apartment.id %>
          <tr>
            <td>
              <%= a_photo.id %>
            </td>

            <td>
              <%= a_photo.caption %>
            </td>

            <td>
              <img src="<%= a_photo.photo_url %>" width="450">
            </td>

            <td>
              <%= a_photo.apartment_id %>
            </td>

            <td>
              <%= time_ago_in_words(a_photo.created_at) %> ago
            </td>

            <td>
              <%= time_ago_in_words(a_photo.updated_at) %> ago
            </td>

            <td>
              <a href="/photos/<%= a_photo.id %>">
                Show details
              </a>
            </td>
          </tr>
        <% else %>
        <%end%>
      <% end %>
    </table>
  </div>
</div>

<hr>
