<!DOCTYPE html>
<html>
  <head>
    <title>Base Rails</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

  </head>

  <body>

<a href="/"> Home </a>
<br>
<a href="/apartments"> View all apartments </a>
<br>
<a href="/cities"> View apartments per city </a>
<br>

<% if session.fetch(:user_id) == nil %>
  <br>
  <a href="/user_sign_up"> Sign Up </a>
  <br>
  <a href="/user_sign_in"> Sign In </a>
  <br>
<%else%>
  <a href="/new_apartment"> List new apartment </a>
  <br>
  <a href="/bookmarks"> My Bookmarks </a>
  <br>
  <br>
  <a href="/user_sign_out"> Sign Out </a>
<%end%>

<br>
<p style="color: green"> <%= notice %> </p>
<p style="color: red"> <%= alert %> </p>

    <%= yield %>
  </body>
</html>
